.box{
    width: 200;
    float: left;
    height: 250px;
    margin: 20px;
}

.dashed{

    border-collapse: initial;
    background-color: gray;
    color: honeydew;
}

.button{
    display: block;
	background-color: #0095eb;
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: 1em; 
	color: 	white;
  font-family: "Roboto", sans-serif;
}